.admin{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit{
    display: flex;
    height: 15vh;
    width: 80vw;
    border-radius: 3vh;
    align-items: center;
    justify-content: space-around;
    margin-top: 4vh;
}

.gotoedit{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 30vw;
    font-size: 4vh;
    border: 3px solid black;
    border-radius: 5vh;
    transition: width 0.2s ease, height 0.15s ease, border-radius 0.2s ease;
    text-align: center;
}

.gotoedit:hover{
    height: 12vh;
    width: 32vw;
    background-color: rgb(71, 144, 209);
    color: aliceblue;
    border-top-left-radius: 0vh;
    border-bottom-right-radius: 0vh;
}

.logoutbtn{
    position: fixed;
    right: 3vh;
    top: 2vh;
    height: 7vh;
    width: 10vw;
}

/* admin top css */
.admintop{
    display: flex;
    width: 70vw;
    justify-content: space-around;
    align-items: center;
    /* border: 3px solid black; */
}

.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    padding: 1vh;
    border:3px solid black;
    border-top: none;
    border-bottom-right-radius: 4vh;
    border-bottom-left-radius: 4vh;
    transition: width 0.2s ease, height 0.3s ease, border-radius 0.2s ease;
    font-size: 3vh;
}

.profile img{
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
}

.description{
    margin-bottom: 3vh;
    max-width: 85%;
    min-width: 85%;
    max-height: 25vh;
    min-height: 15vh;
    font-size: 3vh;
}

.editopt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 2vh;
}

.profile:hover{
    height: 12vh;
    width: 20vw;
}
.profeditbtn{
    margin-top: 1vh;
}

.adminpopcustom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popupdetails img{
    width: 16vh;
    height: 16vh;
    border-radius: 50%;
}

.avatarchange{
    display: flex;
    align-items: center;
    gap: 2vh;
}

.avatarchange label{
    display: flex;
    height: 4vh;
    width: 10vw;
    /* background-color: rgb(206, 204, 204); */
    border: 3px solid black;
    border-radius: 3vh;
    align-items: center;
    justify-content: center;
}

.addcolor{
    background-color: rgb(71, 144, 209);
    color: aliceblue;
}


.hide{
    display: none;
}

.filter{
    display: flex;
    position: relative;
    left: 2vw;
    top: 2vh;
}

.dropdown{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
  }
  
  .dropdown-item {
    padding: 10px;
    background-color: #f1f1f1;
    /* margin: 5px; */
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    width: 5vw;
  }
  
  .dropdown-item:hover {
    background-color: gray;
    color: black;
  }

.details{
    display: flex;
    flex-direction: column;
    border-top: 3px groove black;
    padding: 2vh;
    width: 98vw;
    margin-top: 5vh;
}

.dropdown-header{
    background-color: rgb(71, 144, 209);
    color: aliceblue;
    height: 8vh;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4vh;
}

.dropdown-content{
    position: relative;
    z-index: 3;
    width: 25vw;
    display: flex; 
}

.roomtop{
    display: flex;
    gap: 20%;
    margin-bottom: 2vh;
}
.put{
    margin-left: 5vh;
    display: flex;
    flex-direction: column;
}

.rooms{
    display: flex;
    flex-direction: column;
    gap: 2vh    ;
}

.hostelers{
    margin-left: 5vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.hosteler{
    display: flex;
    gap: 2vw;
}

.hosteler span{
    background-color: rgb(71, 144, 209);
    color: aliceblue;
    padding: 1.3vh;
    border-radius: 2vh;
}

