.addtoanncomp{
    margin-top: 5vh;
}

.single-message.complaint {
    align-self: flex-end;
    background-color: #e1f3e1; /* Light green for user complaints */
  }
 
  .single-message.reply {
    align-self: flex-start;
    background-color: #d5d9d7; /* Gray for admin replies */
  }
  
  .message-sender {
    font-weight: bold;
  }
  
  .message-text {
    font-size: 3vh;
  }
  
  .message-timestamp {
    font-size: 2.3vh;
    color: #4c4848;
  }
  
  .anncomp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .see_add{
    height: 70vh;
  }
